image: node:9.11-alpine

stages:
    - lint
    - test
    - deploy

lint:
    stage: lint
    image: ciricihq/gitlab-sonar-scanner:3.0.0
    only:
        - master
        - development
    script:
        - sonar-scanner -Dsonar.branch.name=${CI_COMMIT_REF_NAME} -Dsonar.login=${SONAR_TOKEN}

test:
    stage: test
    only:
        - master
        - development
    script:
        - export CI=true
        - npm ci --unsafe-perm
        - npm test

deploy_development:
    stage: deploy
    environment:
        name: development
    only:
        - development
    script:
        - apk add --no-cache --update curl
        - npm ci --unsafe-perm
        - npm run deploy:development
        
deploy_production:
    stage: deploy
    environment:
        name: production
    only:
        - master
    script:
        - apk add --no-cache --update curl
        - npm ci --unsafe-perm
        - npm run deploy:production